<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div
      class="container font-monospace d-flex justify-content-center align-items-center vh-100"
    >
      <div class="row">
        <div class="col-12">
          <h1 class="text-primary fw-bolder">Error 404</h1>
        </div>
        <div class="col-12">
          <h4 class="text-secondary">Page was not found</h4>
        </div>
        <div class="col-12">
          <button
            onclick="window.location.href='/'"
            type="button"
            class="btn btn-primary"
          >
            Go Back!
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
