@use "../custom" as *;

.display-2 {
  margin-bottom: 1rem;

  &--intro {
    display: inline-block;
    font-weight: 700;
    padding-top: 5rem;
  }

  &--description {
    font-size: 1.5rem;
    display: block;
    font-weight: 500;
    margin-top: 1.2rem;
  }
}
