<div
  class="card position-fixed mx-auto mt-5 of-confirmation"
  style="width: 18rem"
>
  <div class="card-body">
    <img src="/images/icons/of-icon.svg" class="card-img-top" />
    <h5 class="card-title">Age Confirmation</h5>
    <p class="card-text">
      This site contains material
      <span class="fw-bold">restricted to minors</span> including nudity and
      explicit sexual activity. You must confirm that you are
      <span class="fw-bold">over 18</span> to enter this site.
    </p>
    <div class="d-grid gap-2 col-12 mx-auto">
      <button
        onclick="playVideo()"
        class="btn btn-of-confirm fw-bold"
        type="button"
      >
        Yes, I'm over 18
      </button>

      <button
        onclick="window.location.href='/linktree'"
        class="btn btn-of-decline fw-bold"
        type="button"
      >
        Go back
      </button>
    </div>
  </div>
</div>
