<!-- GitHub -->
<div class="link col-12 col-md-4">
  <div
    class="card mx-auto text-light border-black border-2 rounded-4 linktree-card"
    style="max-width: 300px"
  >
    <a
      href="https://github.com/CesarSullen/"
      class="text-decoration-none text-light"
      target="_blank"
    >
      <div class="row g-0">
        <div class="col-4">
          <img src="images/icons/github.png" class="img-fluid w-75 p-2" />
        </div>
        <div class="col-8 d-flex align-items-center">
          <div class="card-body">
            <h5 class="card-title fw-bold">GitHub</h5>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<!-- Twitter X -->
<div class="link col-12 col-md-4">
  <div
    class="card mx-auto text-light border-black border-2 rounded-4 linktree-card"
    style="max-width: 300px"
  >
    <a
      href="https://x.com/saru_senpaii/"
      class="text-decoration-none text-light"
      target="_blank"
    >
      <div class="row g-0">
        <div class="col-4">
          <img src="images/icons/twitter.png" class="img-fluid w-75 p-2" />
        </div>
        <div class="col-8 d-flex align-items-center">
          <div class="card-body">
            <h5 class="card-title fw-bold">Twitter X</h5>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<!-- Instagram -->
<div class="link col-12 col-md-4">
  <div
    class="card mx-auto text-light border-black border-2 rounded-4 linktree-card"
    style="max-width: 300px"
  >
    <a
      href="https://instagram.com/cesar_sullen/"
      class="text-decoration-none text-light"
      target="_blank"
    >
      <div class="row g-0">
        <div class="col-4">
          <img src="images/icons/instagram.png" class="img-fluid w-75 p-2" />
        </div>
        <div class="col-8 d-flex align-items-center">
          <div class="card-body">
            <h5 class="card-title fw-bold">Instagram</h5>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<!-- Mail -->
<div class="link col-12 col-md-4">
  <div
    class="card mx-auto text-light border-black border-2 rounded-4 linktree-card"
    style="max-width: 300px"
  >
    <a
      href="mailto:cesarsuarez2303@gmail.com"
      class="text-decoration-none text-light"
      target="_blank"
    >
      <div class="row g-0">
        <div class="col-4">
          <img src="images/icons/email.png" class="img-fluid w-75 p-2" />
        </div>
        <div class="col-8 d-flex align-items-center">
          <div class="card-body">
            <h5 class="card-title fw-bold">Send mail</h5>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
